<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->


<section id="cta">
    <div class="container">
        <h2 class="title">
            Plan Your Legacy
            <br/>
            With Us Today
        </h2>
        <p>
            Secure Your Future with Expert Will, Trust and Estate Planning in Manasquan, NJ
        </p>
        <a href="/contact" class="cs-button-solid">Get A Free Consultation</a>
    </div>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/monmouthcountyestateattorney.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/monmouthcountyestateattorney.jpg">
        <img aria-hidden="true" decoding="async" src="/assets/images/monmouthcountyestateattorney.jpg" alt="manasquan beach" loading="lazy" width="2500" height="1667">
    </picture>


</section>