<!--                   Footer                     -->
<!-- ============================================ -->


<footer id="cs-footer-308">
    <div class="cs-container">
        <!-- Logo Group -->
        <div class="cs-logo-group">
            <a aria-label="go back to home" class="cs-logo" href="/">
                <img class="cs-logo-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/logo-black.svg" alt="logo" width="500" height="166">
            </a>
            <p class="cs-text">
                Disclaimer: The information you obtain from ACP Law’s website is not—nor is intended to be—legal advice. You should consult with an attorney for advice regarding your individual situation.
            </p>
        </div>
        <!-- Links -->
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">Sitemap</span>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/">Home</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/about">About</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/estateplanning">Estate Planning</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/faqs">FAQs</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/resources">Resources</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/contact">Contact</a>
            </li>
        </ul>
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">Estate Planning</span>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/estateplanning">Last Wills & Testaments</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/estateplanning">Revocable Trusts</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/estateplanning">Powers of Attorney</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/estateplanning">Medical Directives/Living Wills</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/estateplanning">Advanced Estate Planning</a>
            </li>
        </ul>
        <!-- Contact Info -->
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">Contact</span>
            </li>
            <li class="cs-nav-li">
                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Contact-Page/phone-stroke.svg" alt="phone" width="24" height="24">
                <a class="cs-nav-link cs-phone" href="tel:732-288-6162">(732) 288-6162</a>
            </li>
            <li class="cs-nav-li">
                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Contact-Page/email-stroke.svg" alt="email" width="24" height="24">
                <a class="cs-nav-link cs-email" href="mailto:apelligra@acp-law.com">apelligra@acp-law.com</a>
            </li>
            <li class="cs-nav-li">
                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Contact-Page/pin-stroke.svg" alt="pin" width="24" height="24">
                <a class="cs-nav-link cs-address" href="" target="_blank" rel="noopener">
                    1913 Atlantic Avenue, Suite 150<br> Manasquan, NJ 08736
                </a>
            </li>
        </ul>
    </div>
    <div class="cs-bottom">
        <span class="cs-copyright">© Copyright 2024. <a class="cs-copyright-link" href="https://www.wren-media.com">Custom Coded by Wren Media</a></span>
    </div>
</footer>
