---
title: 'About | ACP Law'
description: 'Learn more about ACP Law, founded by Anna C. Pelligra, Esq., and our commitment to providing compassionate estate planning services to clients in Monmouth and Ocean County.'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---


{% extends "layouts/base.html" %}


{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}


{% block body %}


<div id="cs-content-1801">
    <div class="cs-flex">
        <p class="cs-text">
            The best estate attorney in monmouth county new jersey. <br>wills, trusts and estates.<br> Anna Catherine Pelligra, Esquire <br> Manasquan, Nj
        </p>
    </div>


<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->


<section id="sbsr-575">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/monmouthcountyestateattorney17.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/monmouthcountyestateattorney17.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/monmouthcountyestateattorney17.jpg" alt="attorney" width="618" height="537">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Meet Your Attorney</span>
            <h2 class="cs-title">Anna Catherine Pelligra, Esq.</h2>
            <p class="cs-text">
                Anna C. Pelligra established ACP Law after years of dedicated focus in the field of wills, trusts, and estates. With deep roots in Manasquan, New Jersey, where she grew up on the Glimmer Glass, Anna has a profound appreciation for the salt air and year-round beach culture that defines her hometown.
            </p>
            <p class="cs-text">
                Before beginning her legal career, Anna dedicated a decade to serving as an Ocean Rescue Lifeguard with the Manasquan Beach Patrol on the Whiting Avenue and Inlet beaches. This experience not only deepened her sense of community but also sharpened her skills in quick decision-making, responsibility, and proactive planning for the challenges posed by the ocean’s unpredictable conditions.
            </p>
            <p class="cs-text">
                Anna earned her Bachelor of Science degree in Business Administration from Widener University, followed by a Juris Doctor from Villanova University Charles Widger School of Law. She began her legal career at boutique trust and estate firms in Monmouth and Morris Counties, specializing in drafting wills, living wills, healthcare directives, powers of attorney, revocable trusts, irrevocable life insurance trusts (ILITs), spousal lifetime access trusts (SLATs), and various other estate planning documents.
            </p>
            <p class="cs-text">
                Recognizing that planning for the future can be both complex and emotional, Anna approaches each situation with compassion, sensitivity, and a deep understanding of the law. Her commitment is to guide clients through the intricacies of estate planning with personalized attention and care.
            </p>
            <p class="cs-text">
                <style>
                    .info-list {
                      font-weight: bold; /* Make text bold */
                      list-style-type: disc; /* Bullet points */
                      padding-left: 20px; /* Indent for bullets */
                    }
                  </style>
        
                  <p><strong>Education:</strong></p>
                  <ul class="info-list">
                    <li>Widener University, B.S. in Business Administration</li>
                    <li>Villanova University Charles Widger School of Law, J.D.</li>
                  </ul>
                  <br>
                  <p><strong>Bar Admissions:</strong></p>
                  <ul class="info-list">
                    <li>New Jersey</li>
                  </ul>
            </p>
        </div>
    </div>
</section>


<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->


<section id="sbs-598">
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/monmouthcountyestateattorney3.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/monmouthcountyestateattorney3.jpg">
        <img loading="lazy" decoding="async" src="/assets/images/monmouthcountyestateattorney3.jpg" alt="manasquanbeach" width="960" height="796">
    </picture>
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Who We Are</span>
            <h2 class="cs-title">About ACP Law </h2>
            <p class="cs-text">
                At Anna Catherine Pelligra Law LLC, we are dedicated to providing compassionate legal guidance in the areas of wills, trusts, and estate planning. Founded by Anna C. Pelligra, Esq., our firm is rooted in a deep commitment to serving the Monmouth County and Ocean County communities.
            </p>
            <p class="cs-text">
                With a focus on personalized service, ACP Law understands that planning for the future can be both complex and emotional. We strive to create a supportive environment where clients can navigate their estate planning needs with confidence. ACP Law encompasses a wide range of services, including the drafting of wills, living wills, healthcare directives, powers of attorney, revocable trusts, irrevocable life insurance trusts (ILITs), and spousal lifetime access trusts (SLATs) and a variety of other estate planning documents.
            </p>
            <p class="cs-text">
                Anna’s lifelong ties to Manasquan, combined with her experience as an Ocean Rescue Lifeguard, have fostered a strong sense of community and a commitment to serving others. She approaches each case with empathy and understanding, ensuring that every client feels valued and supported throughout the estate planning process.
            </p>
            <p class="cs-text">
                At ACP Law, our mission is to empower individuals and families to secure their legacies and make informed decisions about their future. We invite you to reach out for a consultation and discover how we can assist you in achieving your estate planning goals.
            </p>
            <a href="/contact" class="cs-button-solid">Schedule a Free Consultation</a>
        </div>
    </div>
</section>
                               
    {% include 'components/cta.html' %}


{% endblock %}
