---
title: 'ACP Law | Estate Planning | Manasquan, NJ'
description: 'Welcome to ACP Law, your trusted estate planning attorney in Manasquan, NJ. We provide personalized services to protect your assets and secure your future.'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---


{% extends "layouts/base.html" %}


{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>


    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>


    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}


{% block body %}


<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->


<section id="hero-1623">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">
                Anna Catherine Pelligra Law
            </span>
            <h1 class="cs-title">
                Planning Your Legacy Through Life’s Changing Tides</h1>
            <a href="/contact" class="cs-button-solid">Get A Free Consultation</a>
            <!--Bottom Corners-->
            <div class="cs-corners" aria-hidden="true"></div>
        </div>
    </div>


    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/monmouthcountyestateattorney.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/monmouthcountyestateattorney.jpg">
        <img loading="lazy" decoding="async" src="/assets/images/monmouthcountyestateattorney.jpg" alt="jerseyshore" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>


<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->


<section id="services-1623">
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="/estateplanning" class="cs-link">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-circle-check.svg" loading="lazy" decoding="async" alt="icon" width="48" height="48" aria-hidden="true">
                    <h3 class="cs-h3">Wills & Testaments</h3>
                    <p class="cs-item-text">
                        Direct how your assets are distributed and appoint guardians for children.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="/estateplanning" class="cs-link">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-speedometer.svg" loading="lazy" decoding="async" alt="icon" width="48" height="48" aria-hidden="true">
                    <h3 class="cs-h3">Revocable Trusts</h3>
                    <p class="cs-item-text">
                        Manage assets, avoid probate, and maintain privacy.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="/estateplanning" class="cs-link">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-bouy.svg" loading="lazy" decoding="async" alt="icon" width="48" height="48" aria-hidden="true">
                    <h3 class="cs-h3">Powers of Attorney</h3>
                    <p class="cs-item-text">
                        Authorize agents for finances and outline healthcare wishes.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="/estateplanning" class="cs-link">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-thumb.svg" loading="lazy" decoding="async" alt="icon" width="48" height="48" aria-hidden="true">
                    <h3 class="cs-h3">Advanced Estate Planning</h3>
                    <p class="cs-item-text">
                        Protect wealth and optimize taxes with specialized trusts.
                    </p>
                </a>
            </li>
        </ul>
    </div>
</section>
                               
<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->


<section id="sbs-578">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/monmouthcountyestateattorney2.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/monmouthcountyestateattorney2.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/monmouthcountyestateattorney2.jpg" alt="beach" width="494" height="700">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Jersey Shore Wills, Trusts and Estates Attorney</span>
            <h2 class="cs-title">Secure Your Future with Estate Planning</h2>
            <p class="cs-text">
                Estate planning is often a complex process, leading many to delay or avoid it all together. Working with an experienced attorney can simplify the process. We will guide you through the legal procedures, helping to ensure your future and your family's future are secure without unnecessary stress.
            </p>
            <p class="cs-text">
                New Jersey has a range of estate planning options. Every individual’s situation is unique, which is why it’s essential to have a customized plan that addresses your specific needs and goals.


            </p>
            <p class="cs-text">
                A seasoned New Jersey trust and estates attorney can help you navigate these regulations, providing expert guidance on creating or updating your estate plan, ensuring compliance with state laws, and protecting your assets for generations to come.
            </p>
            <a href="/contact" class="cs-button-solid">Free Consultation</a>
        </div>
    </div>
</section>
                               
<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->


<section id="services-940">
    <div class="cs-container">
        <!-- Left Content Section-->
        <div class="cs-content">
            <span class="cs-topper">ACP Law</span>
            <h2 class="cs-title">Estate Planning Services</h2>
            <p class="cs-text">
                Whether you’re looking to draft a will, create a power of attorney, ensure your legacy is protected or revise an already existing plan, we are ready to guide you through the process with care, precision and efficiency.
            </p>
            <a class="cs-button-solid" aria-label="read more about our services" href="/estateplanning">Learn More</a>
        </div>
        <!-- Right Image Section -->
        <div class="cs-picture-group">
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="/assets/images/monmouthcountyestateattorney1.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/monmouthcountyestateattorney1.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/monmouthcountyestateattorney1.jpg" alt="beach" width="630" height="380" aria-hidden="true">
            </picture>
        </div>
    </div>
    <ul class="cs-card-group">
        <li class="cs-item">
            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/tree-icon.svg" alt="hair cut" width="40" height="40">
            <h3 class="cs-h3">Last Wills & Testaments</h3>
            <p class="cs-item-text">
                Outlines asset distribution, names beneficiaries, executors, and guardians for children, ensuring your wishes are followed.
            </p>
            <a href="/estateplanning" class="cs-link">Read More</a>
            <!--Background Image-->
            <picture class="cs-background">
                <img loading="lazy" decoding="async" src="/assets/images/monmouthcountyestateattorney.jpg" alt="beach" width="480" height="425">
            </picture>
        </li>
        <li class="cs-item">
            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/tree-icon.svg" alt="hair cut" width="40" height="40">
            <h3 class="cs-h3">Revocable Trusts</h3>
            <p class="cs-item-text">
                A flexible tool for managing assets, avoiding probate, and maintaining privacy.
            </p>
            <a href="/estateplanning" class="cs-link">Read More</a>
            <!--Background Image-->
            <picture class="cs-background">
                <img loading="lazy" decoding="async" src="/assets/images/monmouthcountyestateattorney.jpg" alt="beach" width="480" height="425">
            </picture>
        </li>
        <li class="cs-item">
            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/tree-icon.svg" alt="hair cut" width="40" height="40">
            <h3 class="cs-h3">Powers of Attorney</h3>
            <p class="cs-item-text">
                Grants someone authority to manage your affairs if you become incapacitated, avoiding costly delays.
            </p>
            <a href="/estateplanning" class="cs-link">Read More</a>
            <!--Background Image-->
            <picture class="cs-background">
                <img loading="lazy" decoding="async" src="/assets/images/monmouthcountyestateattorney.jpg" alt="beach" width="480" height="425">
            </picture>
        </li>
        <li class="cs-item">
            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/tree-icon.svg" alt="hair cut" width="40" height="40">
            <h3 class="cs-h3">Medical Directives</h3>
            <p class="cs-item-text">
                Specifies your healthcare preferences if you're unable to communicate, easing decision-making for loved ones.
            </p>
            <a href="/estateplanning" class="cs-link">Read More</a>
            <!--Background Image-->
            <picture class="cs-background">
                <img loading="lazy" decoding="async" src="/assets/images/monmouthcountyestateattorney.jpg" alt="beach" width="480" height="425">
            </picture>
        </li>
        <li class="cs-item">
            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/tree-icon.svg" alt="hair cut" width="40" height="40">
            <h3 class="cs-h3">Living Wills</h3>
            <p class="cs-item-text">
                States your choices for end-of-life care, such as life-sustaining treatments or comfort care.
            </p>
            <a href="/estateplanning" class="cs-link">Read More</a>
            <!--Background Image-->
            <picture class="cs-background">
                <img loading="lazy" decoding="async" src="/assets/images/monmouthcountyestateattorney.jpg" alt="beach" width="480" height="425">
            </picture>
        </li>
        <li class="cs-item">
            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/tree-icon.svg" alt="hair cut" width="40" height="40">
            <h3 class="cs-h3">Advanced Estate Planning</h3>
            <p class="cs-item-text">
                Protects wealth, optimizes taxes, and secures assets through specialized strategies.
            </p>
            <a href="/estateplanning" class="cs-link">Read More</a>
            <!--Background Image-->
            <picture class="cs-background">
                <img loading="lazy" decoding="async" src="/assets/images/monmouthcountyestateattorney.jpg" alt="beach" width="480" height="425">
            </picture>
        </li>
    </ul>
    <!--Waves Background-->
    <picture class="cs-waves">
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/waves-m.svg">
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/waves.svg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/waves.svg" alt="waves graphic" width="1920" height="331" aria-hidden="true">
    </picture>
</section>


<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->


<section id="sbsr-575">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/monmouthcountyestateattorney17.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/monmouthcountyestateattorney17.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/monmouthcountyestateattorney17.jpg" alt="attorney" width="618" height="537">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Meet Your Attorney</span>
            <h2 class="cs-title">Anna Catherine Pelligra, Esq.</h2>
            <p class="cs-text">
                Anna, a proud Manasquan native, brings a deep sense of community and dedication to her work at ACP Law. After earning her law degree from Villanova University, Anna returned to her roots in New Jersey to serve the area she has always called home.
            </p>
            <p class="cs-text">
                With a passion for estate planning and helping families protect their legacy, she is committed to providing personalized legal solutions that meet her clients' unique needs. Whether navigating complex legal issues or offering compassionate guidance, Anna’s goal is to ensure her clients feel supported every step of the way.
            </p>
            <a href="/about" class="cs-button-solid">Read More</a>
        </div>
    </div>
</section>


<!-- ============================================ -->
<!--                Why Choose Us                 -->
<!-- ============================================ -->


<section id="why-choose-1635">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Why Choose ACP Law</span>
                <h2 class="cs-title">Planning Your Legacy at ACP Law</h2>
            </div>
            <p class="cs-text">
                Your legacy is a reflection of your hard work, dedication, and the life you have built. Now, it’s time to take the next step to ensure that your estate remains protected for both today and tomorrow. <br><br>Our firm is dedicated to serving the Jersey Shore. We serve the Monmouth County and Ocean County area, offering comprehensive legal solutions tailored to your unique needs. We’re here to ensure you have a solid, actionable plan in place to protect what matters most — your family, your assets, and your peace of mind.
            </p>
        </div>  
        <div class="cs-wrapper">
            <ul class="cs-card-group">
                <li class="cs-item">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/call-gold.svg"
                                loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Free Consultation</h3>
                        <p class="cs-item-text">
                            Getting started is easy with a free consultation call. We listen to your concerns and provide expert guidance to tailor an estate plan that fits your unique situation.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/chat-gold.svg"
                                loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Answer a Few Questions</h3>
                        <p class="cs-item-text">
                            Filling out our quick and easy form helps us gather the information needed to make informed decisions about your estate. It’s hassle-free, straightforward, and designed to save you time.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/money-gold.svg"
                                loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Secure Your Estate</h3>
                        <p class="cs-item-text">
                            We handle the details so you don’t have to. From start to finish, our team at ACP Law will ensure your estate is protected, giving you peace of mind for the future.
                        </p>
                    </div>
                </li>
            </ul>
            <div class="cs-image-group">
                <div class="cs-picture-wrapper">
                    <picture class="cs-picture cs-picture1">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/monmouthcountyestateattorney16.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/monmouthcountyestateattorney16.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/monmouthcountyestateattorney16.jpg" alt="attorney" width="434" height="414">
                    </picture>
                    <div class="cs-box">
                        <span class="cs-header">Anna C. Pelligra</span>
                        <span class="cs-desc">NJ Estate Attorney</span>
                    </div>
        </div>
    </div>
</section>
                           
    {% include 'components/cta.html' %}


{% endblock %}
