/* PAGE-SPECIFIC STYLES FOR THE SERVICES PAGE */


/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/


/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #RPsbs-1101 {
        padding-top: 500px;
    }
}


/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #RPsbs-1101,
    #RPsbsr-1101 {
        padding: var(--sectionPadding);


        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: calc(550 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }


        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: calc(522 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }


        .cs-text {
            margin-bottom: calc(16 / 16 * 1rem);
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }


        .cs-ul {
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: calc(24 / 16 * 1rem);
        }


        .cs-li {
            list-style: none;
            padding: 0;
            margin: 0;
        }


        .cs-h3 {
            /* 20px - 25px */
            font-size: 1.25rem, 3vw, 1.5625rem;
            line-height: 1.2em;
            font-weight: 700;
            margin: 0 0 calc(12 / 16 * 1rem);
        }


        .cs-li-text {
            font-size: var(--bodyFontSize);
            line-height: 1.5em;
            text-align: inherit;
            width: 100%;
            max-width: calc(630 / 16 * 1rem);
            margin: 0;
            color: var(--bodyTextColor);
        }


        .cs-image-group {
            /* scales the whole group based on the view width size and stop when that vales equals .8em, resets at desktop */
            font-size: min(2.235vw, 0.8em);
            width: calc(648 / 16 * 1em);
            height: calc(594 / 16 * 1em);
            display: block;
            position: relative;
            z-index: 1;
        }


        .cs-picture {
            position: absolute;


            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }


        .cs-picture1 {
            width: calc(323 / 16 * 1em);
            height: calc(447 / 16 * 1em);
            top: 0;
            left: 0;
            z-index: 10;
        }


        .cs-picture2 {
            width: calc(305 / 16 * 1em);
            height: calc(441 / 16 * 1em);
            bottom: 0;
            right: 0;
        }


        .cs-stripes {
            width: calc(548 / 16 * 1em);
            height: auto;
            display: block;
            position: absolute;
            top: calc(80 / 16 * 1em);
            right: calc(40 / 16 * 1em);
            z-index: -1;
        }


        .cs-graphic {
            width: calc(184 / 16 * 1em);
            height: auto;
            position: absolute;
            bottom: calc(80 / 16 * 1em);
            right: calc(222 / 16 * 1em);
            z-index: 10;
        }
    }
}


/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #RPsbs-1101,
    #RPsbsr-1101 {
        .cs-container {
            max-width: calc(1280 / 16 * 1em);
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }


        .cs-image-group {
            font-size: min(1.2vw, 1em);
            flex: none;
        }
    }
}


/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #RPsbs-1101,
        #RPsbsr-1101 {
            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-li-text {
                color: var(--bodyTextColorWhite);
            }


            .cs-text,
            .cs-li-text {
                opacity: 0.8;
            }


            .cs-stripes {
                opacity: 0.2;
            }
        }
    }
}


/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/


/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #RPsbsr-1101 {
        background-color: #f7f7f7;


        .cs-picture1 {
            right: 0;
            left: auto;
        }


        .cs-picture2 {
            left: 0;
            right: auto;
        }


        .cs-stripes {
            left: calc(40 / 16 * 1em);
            right: auto;
        }


        .cs-graphic {
            left: calc(222 / 16 * 1em);
            right: auto;
        }
    }
}


/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #RPsbsr-1101 {
        .cs-image-group {
            /* sends it to the right in the 2nd position */
            order: 2;
        }
    }
}


/* Dark Mode */
@media only screen and (min-width: 60rem) {
    body.dark-mode {
        #RPsbsr-1101 {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }
}
