/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */


/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/


/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-578 {
        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 7vw, 4rem);
        }


        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: calc(522 / 16 * 1rem);
            /* moved section padding to the .cs-content so we can have the cs-picture be full width on mobile without the padding preventing it from doing so */
            padding: var(--sectionPadding);
            padding-top: 0;
            /* prevents padding from affecting width and height */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }


        .cs-text {
            margin-bottom: calc(16 / 16 * 1rem);
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }


        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: var(--bodyTextColorWhite);
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(24 / 16 * 1rem);
            background-color: var(--primary);
            border-radius: calc(4 / 16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;


            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #2d354e;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: calc(4 / 16 * 1rem);
                transition: width 0.3s;
            }


            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }


        .cs-picture {
            display: block;
            position: relative;
            width: 100%;
            height: calc(300 / 16 * 1rem);


            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}


/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbs-578 {
        padding: var(--sectionPadding);


        .cs-container {
            flex-direction: row;
            justify-content: flex-start;
            /* 60px - 128px */
            gap: clamp(3.75rem, 10vw, 8rem);
        }


        .cs-content {
            width: 53%;
            /* reset the padding, add the section padding back to the section container */
            padding: 0;
        }


        .cs-picture {
            width: 47vw;
            max-width: calc(494 / 16 * 1rem);
            /* 518px - 700px */
            height: clamp(32.375rem, 63vw, 43.75rem);
            /* 16px - 28px, added margin left and bottom to cs-picture so it pushes away by the same amount the yellow box element overlaps it left and bottom. This maintains consistent spacing left and bottom */
            margin: 0 0 clamp(1rem, 2.4vw, 1.75rem) clamp(1rem, 2.4vw, 1.75rem);
            position: relative;


            &:before {
                /* yellow box */
                content: "";
                width: 50%;
                height: 60%;
                background: var(--secondary);
                opacity: 1;
                display: block;
                position: absolute;
                /* 16px - 28px, wrapped in calc function to multiple by negative 1 and get a negative clamp value */
                bottom: calc(clamp(1rem, 2.4vw, 1.75rem) * -1);
                left: calc(clamp(1rem, 2.4vw, 1.75rem) * -1);
            }
        }
    }
}


/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #sbs-578 {
            .cs-topper {
                color: var(--bodyTextColorWhite);
            }


            .cs-title,
            .cs-text {
                color: var(--bodyTextColorWhite);
            }


            .cs-text {
                opacity: 0.8;
            }


            .cs-picture {
                &:before {
                    background-color: var(--accent);
                }
            }
        }
    }
}




/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/


/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-940 {
        padding: var(--sectionPadding);
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 28px - 72px */
        gap: clamp(1.75rem, 6vw, 4.5rem);
        position: relative;
        z-index: 1;


        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: calc(550 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }


        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            max-width: calc(522 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }


        .cs-text {
            margin-bottom: calc(16 / 16 * 1rem);


            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }


        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: var(--bodyTextColorWhite);
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(32 / 16 * 1rem);
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;


            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #2d354e;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }


            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }


        .cs-picture-group {
            width: 100%;
            max-width: calc(630 / 16 * 1rem);
            position: relative;
            overflow: hidden;


            &:hover {
                .cs-picture {
                    img {
                        transform: scale(1.2);
                    }
                }


                .cs-picture {
                    &:before {
                        opacity: 0.6;
                    }
                }
            }
        }


        .cs-picture {
            width: 100%;
            /* 280px - 380px */
            height: clamp(17.5rem, 43vw, 23.75rem);
            position: relative;
            display: block;
            z-index: 1;


            &:before {
                /* background color overlay */
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 100%;
                background: #1a1a1a;
                opacity: 0.2;
                top: 0;
                left: 0;
                z-index: -1;
                transition: opacity 0.3s;
            }


            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                z-index: -2;
                transition: transform 0.8s;
            }
        }


        .cs-play {
            /* 80px - 100px */
            width: clamp(5rem, 6vw, 6.25rem);
            height: clamp(5rem, 6vw, 6.25rem);
            border: 2px solid #bababa;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            transition: background-color 0.3s;


            &:hover {
                background-color: var(--primary);
            }
        }


        .cs-play-icon {
            /* 20px - 24px */
            width: clamp(1.25rem, 1.5vw, 1.5rem);
            height: auto;
            display: block;
        }


        .cs-card-group {
            margin: 0;
            padding: 0;
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: calc(550 / 16 * 1rem);
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
        }


        .cs-item {
            width: 100%;
            text-align: center;
            list-style: none;
            margin: 0;
            /* 24px - 64px top & bottom */
            /* 24px - 40px left & right */
            padding: clamp(1.5rem, 7vw, 4rem) clamp(1.5rem, 6vw, 2.5rem);
            background-color: #f7f3ee;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            grid-column: span 12;
            grid-row: span 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            z-index: 1;


            &:hover {
                .cs-h3 {
                    color: var(--bodyTextColorWhite);
                }
                .cs-item-text {
                    color: var(--bodyTextColorWhite);
                    opacity: 0.9;
                }
                .cs-background {
                    opacity: 1;
                }
            }
        }


        .cs-icon {
            width: calc(40 / 16 * 1rem);
            height: auto;
            margin: 0 0 calc(20 / 16 * 1rem) 0;
        }


        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 3vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: bold;
            margin: 0 0 calc(12 / 16 * 1rem) 0;
            color: var(--headerColor);
        }


        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            max-width: calc(300 / 16 * 1rem);
            margin: 0 0 calc(32 / 16 * 1rem) 0;
            padding: 0;
            color: var(--bodyTextColor);
        }


        .cs-link {
            text-decoration: none;
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.2em;
            font-weight: bold;
            margin: 0;
            padding: 0;
            color: var(--primary);
            position: relative;
            transition: color 0.3s;


            &:hover {
                color: #fff;
            }


            &:before {
                /* underline */
                content: "";
                width: 100%;
                height: 1px;
                background: currentColor;
                opacity: 1;
                position: absolute;
                display: block;
                bottom: calc(0 / 16 * 1rem);
                left: 0;
            }
        }


        .cs-background {
            width: 100%;
            height: 100%;
            opacity: 0;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transition: opacity 0.3s;


            &:before {
                /* background color overlay */
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 100%;
                background: #1a1a1a;
                opacity: 0.84;
                top: 0;
                left: 0;
                z-index: 1;
            }


            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* Makes img tag act as a background image */
                object-fit: cover;
            }
        }


        .cs-waves {
            width: 100%;
            /* changes to 330px at tablet */
            height: calc(650 / 16 * 1rem);
            background-color: var(--primary);
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;


            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}


/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-940 {
        overflow: visible;
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
            justify-content: space-between;
            align-items: center;
            /* set flexbox back to the row orientation */
            flex-direction: row;
        }


        .cs-content {
            text-align: left;
            width: 44.6%;
            /* prevents flexbox from squishing it */
            flex: none;
            align-items: flex-start;
        }


        .cs-picture-group {
            width: 50%;
            /* sends it to the right in the 2nd position */
            order: 2;
        }


        .cs-card-group {
            max-width: calc(1280 / 16 * 1rem);
        }


        .cs-item {
            grid-column: span 6;
        }


        .cs-waves {
            /* 462px - 612px */
            height: clamp(28.875rem, 45vw, 38.28rem);
        }
    }
}


/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #services-940 {
        .cs-item {
            grid-column: span 4;
        }
    }
}


/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #services-940 {
            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-item-text {
                color: var(--bodyTextColorWhite);
            }


            .cs-text,
            .cs-item-text {
                opacity: 0.9;
            }


            .cs-item {
                background-color: var(--medium);
            }


            .cs-waves {
                opacity: 0.7;
            }
        }
    }
}


/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/


/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbsr-575 {
        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 7vw, 4rem);
        }


        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: calc(522 / 16 * 1rem);
            /* moved section padding to the .cs-content so we can have the cs-picture be full width on mobile without the padding preventing it from doing so */
            padding: var(--sectionPadding);
            padding-top: 0;
            /* prevents padding from affecting width and height */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }


        .cs-topper,
        .cs-title {
            color: #2d354e;
        }


        .cs-text {
            margin-bottom: calc(16 / 16 * 1rem);
            color: #2d354e;
            opacity: 0.8;
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }


        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: var(--bodyTextColorWhite);
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(24 / 16 * 1rem);
            background-color: #2d354e;
            border-radius: calc(4 / 16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            transition: color 0.3s;


            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: var(--bodyTextColorWhite);
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: calc(4 / 16 * 1rem);
                transition: width 0.3s;
            }


            &:hover {
                color: #2d354e;
                &:before {
                    width: 100%;
                }
            }
        }


        .cs-picture {
            display: block;
            position: relative;
            width: 100%;
            height: calc(300 / 16 * 1rem);


            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}


/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbsr-575 {
        /* we use margin here instead of padding because we want to create the space OUTSIDE the section.  The overflow on the section clips the boxes we made to make the slanted designs, so we need to push from the outside of the section with margin to create space between it and the next section.  If the section above this Stitch has a white background, add margin-top: 0. If it has a white section below it, add margin-bottom: 0. This will allow more proper spacing and not have too much empty space.  If both sections above and below this Stitch have white backgrounds, you can just remove this margin all together */
        margin: var(--sectionPadding);
        margin-left: 0;
        margin-right: 0;
        padding: var(--sectionPadding);
        background-color: transparent;
        /* clips the red box from overflowing the section */
        overflow: hidden;


        .cs-container {
            flex-direction: row;
            position: relative;
            z-index: 1;
            &:before {
                /* red box */
                content: "";
                width: 100vw;
                margin-right: -38%;
                background: var(--primary);
                opacity: 1;
                display: block;
                position: absolute;
                top: calc(-150 / 16 * 1rem);
                bottom: calc(-150 / 16 * 1rem);
                right: 50%;
                z-index: -1;
            }
        }


        .cs-content {
            width: 51%;
            /* reset the padding, add the section padding back to the section container */
            padding: 0;
        }


        .cs-picture {
            width: 47vw;
            max-width: calc(618 / 16 * 1rem);
            height: calc(536 / 16 * 1rem);
            /* 24px - 32px, added margin top and bottom to cs-picture so it pushes away by the same amount the yellow box element overlaps it top and bottom. This maintains consistent spacing top and bottom */
            margin: clamp(1.5rem, 3vw, 2rem) 0 clamp(1.5rem, 3vw, 2rem)
                clamp(1.5rem, 3vw, 2rem);
            position: relative;
            /* sends it to the right in the 2nd position */
            order: 2;


            &:before {
                /* yellow box */
                content: "";
                width: 50%;
                background: var(--secondary);
                opacity: 1;
                display: block;
                position: absolute;
                /*24px - 32px, wrapped in calc function to multiple by negative 1 and get a negative clamp value */
                top: calc(clamp(1.5rem, 3vw, 2rem) * -1);
                bottom: calc(clamp(1.5rem, 3vw, 2rem) * -1);
                right: calc(clamp(1.5rem, 3vw, 2rem) * -1);
            }
        }
    }
}


/*-- -------------------------- -->
<---      Why Choose Us         -->
<--- -------------------------- -*/


/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #why-choose-1635 {
        padding: var(--sectionPadding);
       
        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: calc(584 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 100px */
            gap: clamp(3rem, 10vw, 6.25rem);
        }
   
        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }


        .cs-flex {
            max-width: calc(616 / 16 * 1rem);
        }
   
        .cs-title {
            max-width: 20ch;
        }


        .cs-text {
            margin-bottom: calc(16 / 16 * 1rem);
            &:last-of-type {
                margin-bottom: 0;
            }
        }


        .cs-wrapper {
            width: 100%;
        }


        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            row-gap: calc(28 / 16 * 1rem);
            /* 16px - 20px */
            column-gap: clamp(1rem, 2.3vw, 1.25rem);
        }


        .cs-item {
            text-align: left;
            list-style: none;
            width: 100%;
            margin: 0;
            box-sizing: border-box;
            display: flex;
            grid-column: span 12;
            flex-direction: column;
            align-items: flex-start;
            /* 16px - 24px */
            gap: clamp(1rem, 3vw, 1.5rem);
        }


        .cs-icon-wrapper {
            /* 60px - 80px */
            width: clamp(3.75rem, 7vw, 5rem);
            height: clamp(3.75rem, 7vw, 5rem);
            margin: 0;
            box-sizing: border-box;
            border: 1px solid var(--primary);
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            /* prevents flexbox from squishing it */
            flex: none;
        }


        .cs-icon {
            width: calc(32 / 16 * 1rem);
            height: auto;
            display: block;
        }


        .cs-h3 {
            font-size: calc(20 / 16 * 1rem);
            line-height: 1.5em;
            margin: 0;
            margin-bottom: calc(8 / 16 * 1rem);
            color: var(--headerColor);
            text-align: inherit;
        }


        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
            text-align: inherit;
        }


        .cs-wrapper {
            /* makes the contents of this container act as though the container doesn't exist. They are now children of the cs-container so they can be positioned around each other. This allows us to sue the order property to place the cs-image-group at the top of the page on mobile */
            display: contents;
        }


        .cs-image-group {
            font-size: min(2.7vw, 1em);
            width: calc(584 / 16 * 1em);
            height: calc(494 / 16 * 1em);
            /* sends it to teh top in the 1st position */
            order: -1;
            position: relative;
            z-index: 1;
        }


        .cs-picture-wrapper {
            width: 80.073801%;
            height: 83.805668%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: stretch;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
        }


        .cs-box {
            width: 60%;
            margin-top: calc(-38 / 16 * 1em);
            margin-left: calc(24 / 16 * 1em);
            padding: calc(16 / 16 * 1em);
            background-color: #f7f7f7;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: calc(4 / 16 * 1em);
            position: relative;
            z-index: 10;
        }


        .cs-header {
            font-size: calc(16 / 16 * 1em);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: var(--headerColor);
            display: block;
        }


        .cs-desc {
            font-size: calc(14 / 16 * 1em);
            line-height: 1.5em;
            margin: 0;
            color: var(--primary);
            display: block;
        }


        .cs-picture {
            position: relative;
            z-index: 1;


            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }


        .cs-picture1 {
            width: 100%;
            height: 100%;
        }


        .cs-picture2 {
            width: 36.346863%;
            height: 39.878543%;
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}


/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #why-choose-1635 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
        }


        .cs-content {
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }


        .cs-flex {
            text-align: left;
            width: 40vw;
            max-width: calc(640 / 16 * 1rem);
            flex: none;
        }


        .cs-title {
            margin: 0;
        }


        .cs-h3,
        .cs-item-text {
            text-align: left;
        }
       
        .cs-item {
            grid-column: span 4;
        }


        .cs-image-group {
            width: 100%;
        }
    }
}


/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #why-choose-1635 {
        /* set the darker background color on the main div */
        background-color: #F8F5F1;
        overflow: hidden;
       
        .cs-content {
            align-items: flex-start;
        }


        .cs-flex {
            width: 50%;
        }


        .cs-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
            gap: calc(40 / 16 * 1rem);
            position: relative;
            z-index: 1;


            &:before {
                /* make the white space dependant on the height of the cs-wrapper as a pseudo element attached to the cs wrapper. This makes the white background responsive to the amount of items you have in your list. When the list grows or shrinks, the design will maintain its same spacing */
                content: '';
                width: 100vw;
                height: 100vw;
                background: #fff;
                opacity: 1;
                position: absolute;
                display: block;
                top: 0;
                left: 50%;
                z-index: -1;
                transform: translateX(-50%);
            }
        }


        .cs-card-group {
            max-width: calc(630 / 16 * 1rem);
            /* use padding to push add the same amount of space between the content and the top of the card group as the negative margin top value on the cs-image-group. This makes sure that it counter acts the effects of the negative margin affecting the card group as well */
            padding-top: calc(48 / 16 * 1rem);
            align-self: flex-start;
        }


        .cs-image-group {
            width: calc(542 / 16 * 1em);
            /* by setting height to auto, it will stretch to fill the container height. So when you add or subtract more cards and change the height of the container, the image group will shrink as well. Thats why we set the heights of the images in percentages. They will always be X% tall inside the cs-image-group. So when the image group stretches to match the container height, the pictures percentage height also grows proportionally. This ensures the design responds to changes in height from the card section on the left. */
            height: auto;
            min-height: calc(494 / 16 * 1em);
            /* makes it overlap the .cs-wrapper div */
            margin-top: calc(-48 / 16 * 1em);
            flex: none;
        }


        .cs-item {
            grid-column: span 12;
            flex-direction: row;
        }
    }
}


/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #why-choose-1635 {
            background-color: rgba(0, 0, 0, .3);


            .cs-title, .cs-text, .cs-h3, .cs-item-text, .cs-header {
                color: var(--bodyTextColorWhite);
            }


            .cs-text, .cs-item-text {
                opacity: .8;
            }


            .cs-box {
                background-color: var(--dark);
                position: relative;
                z-index: 1;


                &:before {
                    content: '';
                    width: 100%;
                    height: 100%;
                    background: #000;
                    opacity: .2;
                    position: absolute;
                    display: block;
                    top: 0;
                    left: 0;
                    z-index: -1;
                }
            }


            .cs-wrapper {
                &:before {
                    background-color: var(--dark);
                }
            }
        }
    }
}
